!!! 5
%html
  %head
    %link{:href => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css", :rel => "stylesheet"}
    %title= current_page.data.title

    = stylesheet_link_tag :all

  %body
    = partial 'layouts/nav'
    .container.md-page
      = yield
